server {
    listen {{ ports.http }} default_server;
    listen [::]:{{ ports.http }} default_server;
    return 301 https://$host$request_uri;
}
server {
    listen {{ ports.https }} ssl http2;
    listen [::]:{{ ports.https }} ssl http2;
    server_name {{ server_address }};
    ssl_certificate {{ ssl_cert }};
    ssl_certificate_key {{ ssl_key }};

    root /opt/freepbx-webroot;

    error_log /var/log/nginx/freepbx.error;
    access_log /var/log/nginx/freepbx.access;

    index index.html index.htm index.nginx-debian.html index.php;

    server_name HOSTNAME;  # don't use _ or FreePBX may complain about referer

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;  # server defaults are good
        fastcgi_pass unix:/run/php/php7.4-fpm.sock;
        fastcgi_param HTACCESS on;  # disables FreePBX htaccess warning
    }

    # disallows the things that the FreePBX .htaccess files disallow
    location ~ (/\.ht|/\.git|\.ini$|/libraries|/helpers|/i18n|/node|/views/.+php$) {
        deny all;
    }

    # from the api module .htaccess file
    rewrite ^/admin/api/([^/]*)/([^/]*)/?(.*)?$ /admin/api/api.php?module=$1&command=$2&route=$3 last;

}