[MariaDB-client]
Description = MariaDB-client
Driver = MySQL
Server = {{ database.host }}
Database = {{ database.name }}
User = {{ database.user }}
Password = {{ database.password }}
Port = 3306
Option = 3
